#title {
  background-color: #ff4c68;
}

.tindog {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Ubuntu";
}

body {
  font-family: "Montserrat";
}

.container-fluid {
  padding: 1% 15% 7%;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.carousel {
  padding: 7% 15%;
}

.testimonial-img {
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}

#pricing {
  padding: 7%;
  text-align: center;
}

.pricing-col {
  padding: 2%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: bold;
}

#features {
  padding: 7% 15%;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2rem;
}

p {
  color: #8f8f8f;
}

.feature-icon {
  margin-bottom: 2.5%;
  color: #ef8172;
}

.feature-icon:hover {
  color: #ff4c68;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.download-button {
  margin: 5% 3% 3% 0;
}

.title_txt {
  margin-top: 10%;
}

.nav-link {
  font-size: 1.3rem;
  font-family: "Montserrat";
}

.nav-item {
  padding: 0 18px;
}

.iphone-img {
  width: 55%;
  transform: rotate(20deg);
  position: absolute;
  right: 30%;
}

h1 {
  color: white;
  font-size: 4rem;
  line-height: 1.5;
  font-family: "Montserrat";
}

#cta{
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Montserrat";
  background-color: #ff4c68;
  padding:7% 15%;
}
.cta-h3{
  font-size: 3rem;
  line-height:1.5;
}
#footer{
  padding:4%;
  background-color: #fff;
  text-align: center;
}
.bottom-icons{
padding-bottom:0.1%;
}
.bi{
  margin:0.6%;
}
@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .iphone-img {
    position: static;
    transform: rotate(0);
  }
}
